name: CI

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    unit-tests-backend:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Set Up Go
              uses: actions/setup-go@v4
              with: 
                go-version: "1.21"
                cache-dependency: bugtracker-backend/go.sum

            - name: Execute Backed Unit Tests
              working-directory: ./bugtracket-backend
              run: |
                go test -v ./...